h1 {
    text-align: center;
    background-color: rgb(133, 133, 233);
    margin: 0;
    padding: 15px;
    text-decoration: none;
}
h2 {
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize;
}
h3 {
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0px;
}

.nav-bar {
    text-align: center;
    background-color: rgb(199, 199, 245);
    padding: 10px;
}

.nav-links {
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
}

.article-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.article-card {
    list-style-type: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid  rgb(199, 199, 245);
    
}
.filter-articles {
    text-align: center;
    background-color:  rgb(199, 199, 245);
    padding: 5px;
}
.single-article {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid  rgb(199, 199, 245);
}