a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    background-color: rgb(97, 97, 133);
    margin: 0;
    padding: 25px;
    /* text-decoration: none; */
    font-size: 5rem;
    color: whitesmoke;
    text-transform: uppercase;
    opacity: 85%;
}
h2 {
    text-align: center;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: whitesmoke;
    opacity: 90%;
    color: black;
    font-size: 2rem;
}
h3 {
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px;
}
h4 {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 0;
}
.App {
    background-image: url(./images/waldemar-brandt-JYPDh4ter10-unsplash.jpg);
    background-size: contain;
    /* overflow: scroll; */
}
.img-description{
    font-size: 10pt;
    padding: 5px;
}
.login-bar {
    text-align: right;
    padding: 1px;
    background-color:whitesmoke;
    opacity: 95%;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.front-page {
    min-height: 1800px;
    text-align: center;
    background-color:whitesmoke;
    opacity: 30%;
}
.login-text {
    margin: 0;
    padding-right: 10px;
}
.login-button{
    padding:3px;
    
}
.nav-bar {
    text-align: center;
    background-color: rgb(199, 199, 245);
    opacity: 80%;
    padding: 5px;
}

.nav-links {
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
}

.articles-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.article-card {
    list-style-type: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid  rgb(199, 199, 245);
    background-color:whitesmoke;
    opacity: 95%;
    min-width: 100%;   
}

.card-content {
    display: flex;
    flex-direction: row;
}
.card-details {
    flex: 0 0 180px;
}

.filter-articles {
    text-align: center;
    background-color:  rgb(199, 199, 245);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
    opacity: 90%;
    display: flex;
    justify-content: space-evenly;
}
.single-article {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    padding: 20px;
    border: 5px solid  rgb(199, 199, 245);
    background-color:whitesmoke;
}
.sentence-link{
    text-decoration: underline;
}
.loading-message{
    text-align: center;
    background-color:  rgb(199, 199, 245);
    padding: 5px;
}
.comments-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-right: 20px;
    padding-left: 20px;
}
.comment-card {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 10px;
    /* border: 5px solid  rgb(199, 199, 245); */
    background-color:rgb(227, 227, 247);
    opacity: 100%;
    min-width: 100%;
}
.comment-form-box {
    min-width: 40%;
    min-height: 80px;
    display: block;
}
.delete-button {
    display: inline;
    float: right;
}
button {
padding: 5px;
}